@font-face {
  font-family: 'TDF Icons';
  src: url('TDF Iconfont.eot'); /* IE9 Compat Modes */
  src: url('TDF Iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('TDF Iconfont.woff') format('woff'), /* Modern Browsers */
       url('TDF Iconfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('TDF Iconfont.svg#feb9a93716aa3cb03600aa69d00abc3f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

