@font-face {
  font-family: 'Random';
  src: url('Random-Regular_NEW4.eot'); /* IE9 Compat Modes */
  src: url('Random-Regular_NEW4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Random-Regular_NEW4.woff') format('woff'), /* Modern Browsers */
       url('Random-Regular_NEW4.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Random-Regular_NEW4.svg#64663f4646781c9c0110838b905daa23') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Resolution';
  src: url('Resolution-Bold.eot'); /* IE9 Compat Modes */
  src: url('Resolution-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Resolution-Bold.woff') format('woff'), /* Modern Browsers */
       url('Resolution-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Resolution-Bold.svg#b9811c723227d858b8a47f2ff635c42c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Resolution';
  src: url('Resolution-Regular.eot'); /* IE9 Compat Modes */
  src: url('Resolution-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Resolution-Regular.woff') format('woff'), /* Modern Browsers */
       url('Resolution-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Resolution-Regular.svg#d036d10a7f53a5fda6afd19adaa44cac') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

